<div class="animated fadeIn fast">
    <!-- title -->
    <h1>Sobre HeroBioSearch</h1>
    <hr>
    <!-- content -->
    <p align="justify">
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quae animi quas temporibus vel numquam neque nostrum in optio dolorem et inventore laborum, officia ipsa odio nisi facilis aut recusandae esse.
    </p>
    <p align="justify">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi autem ex harum debitis. Dolore, soluta blanditiis omnis, earum, vero ipsa fugit velit incidunt sunt obcaecati deserunt illum porro eum a!
    </p>
    <p align="justify">
        
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio commodi alias officia assumenda esse recusandae exercitationem laborum facilis quas veniam porro, natus magni! Est excepturi adipisci quidem dolores, alias maxime?
    </p>
</div>