<div class="card text-bg-light mb-3 animated fadeIn fast">
    <!-- title -->
    <div class="card-header">
      <h2 class="card-title">HeroBioSearch  App</h2>
    </div>

    <!-- content -->
    <div class="card-body">

      <p class="card-text">Aplicación para conocer más sobre tu superheroe favorito.</p>

      <p align="justify">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit perspiciatis maxime sed in consequuntur omnis ipsam asperiores, amet, optio magni, velit harum repellat repudiandae dicta tempore rerum accusantium sequi aliquid.
      </p> 
      <p align="justify">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit perspiciatis maxime sed in consequuntur omnis ipsam asperiores, amet, optio magni, velit harum repellat repudiandae dicta tempore rerum accusantium sequi aliquid.
      </p>
      <p align="justify">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit perspiciatis maxime sed in consequuntur omnis ipsam asperiores, amet, optio magni, velit harum repellat repudiandae dicta tempore rerum accusantium sequi aliquid.
      </p>
      <p align="justify">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit perspiciatis maxime sed in consequuntur omnis ipsam asperiores, amet, optio magni, velit harum repellat repudiandae dicta tempore rerum accusantium sequi aliquid.
      </p>
    </div>
  </div>